html {
    overflow-x: hidden;
}

body {
    margin:auto;
    background-color: rgb(60, 255, 245);
    color:#333;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 15px 2px;
}

h2 {
    font-family: 'Rye', cursive;
    margin: 10px 0px 10px 122px;
    font-weight: 600;
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    border-color:transparent;
}

/* CSS Google Fonts:
font-family: 'Raleway', sans-serif;
font-family: 'Rye', cursive;
*/

/*--- Header ---*/
    .title {
        color: #040a42d7;
        font-family:'Rye', cursive;
        font-size: 6rem;
        text-align: center;
        display: inline;
        margin: 10px 30px;
        margin-bottom:10px;
    }

    header img {
        height:125px;
        width: 100px;
        position: relative;
        vertical-align: bottom;
        margin:20px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

/*-- viking longboat on navbar --*/
    .brand-img {
        height: 50px;
        width: 65px
    }

/*-- menu items --*/
    .nav-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 17px;
    }

/*-- Font Awsome icons (i) --*/
    a i {
        margin-left: 6px;
    }

    span i {
        font-size: 24px;
    }

/*--- Summary ---*/
/*-- summary title --*/
    #intro h2 {
        margin: 20px 2px 2px 2px;
        font-weight: 600;
        text-decoration: underline;
    }

/* final line on summary*/
    h3 {
        font-family: 'Raleway', sans-serif;
        font-style: italic;
        font-weight: 200;
        margin: 2px;
    }

/* Horizontal rule above Maps and Accordion*/

/*--- Maps and Accordion ---*/

    .goolge-info {
        display: table;
        padding-left: 5px;
    }

/*-- Accordion styles --*/
    #old-england {
        max-width: 49%;
        display: table-cell;
    }

    #old-england img {
        display: inline;
    }

    #old-england h3 {
        font-family: 'Rye', cursive;
        color: #000;
        font-size: 50px;
        font-style: normal;
    }

    #old-england h4{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        margin-top: 5px;
    } 

    #old-england .card-body {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 18px;
        background-color: seashell;
    }

    #old-england button {
        font-family: 'Rye', cursive;
        color: #eee;
        background-color: rgb(70, 70, 70, .7);
        font-weight: 600;
        font-size: 30px;
        text-decoration: solid;
        text-decoration-color: #000;
        margin-left: 375px;

    }

/* Accordion background colours*/
    #headingTitle {
        text-align: center;
        background-color: #ffdcc3;
    }

    #headingOne {
    background-color: rgb(148, 205, 238);
    }

    #headingTwo {
    background-color: rgb(4, 6, 116);
    }

    #headingThree {
    background-color: rgb(119, 14, 45);
    }

    #headingFour {
    background-color: rgb(170, 3, 3);
    }

    /*-- Google Map Styling --*/
    #map {
        height: 550px;
        width: 49%;
        margin-bottom: 50px;
        display: table-cell;
    }

    /* horizontal rule above timeline*/

    /*-- Timeline Title --*/
    .timeline-title h2 {
        font-family: 'Rye', cursive;
        height: 20px;
        width: 100%;
        margin-bottom: 15px;
    }

    .timeline-title h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        margin: 0px 0px 5px 122px;
        font-weight: 600;
        display: inline;
    }

/*-- Reset Button styles --*/
    #reset {
        margin:0px;
        margin-left: 1000px;
        padding:0px;
        font-family: "Raleway", sans-serif ;
        color: #040a42d7;
        font-weight: 700;
        background-color: rgb(132, 248, 252);
        border-radius: 10px;
        display:inline;

    }

/*--- Timeline ---*/

/*-- Timeline links--*/
    #timeline a {
        margin-left: 10px;
        font-weight: 900;
        font-size: 13px;
        color: #111;
    }

/*-- sets first timeline item, creates room for back to top button to slide --*/
    #timeline-item1{
        padding-left: 50px;
    }

    .timeline-bar {
        margin-top: 30px;
    }

    .timeline-bar .container-fluid{
        background-color: rgb(132, 248, 252);  
        margin-top: 0px;
        padding-top: 0px;
    }
 /*-- animation image initial styling -- */
    #animateBox{
        margin-left: 1px;
    }

    #longboat {
        width: 30px;
        height: 30px;
        margin-left:1%;
    }

/*-- div containing timeline text and images --*/
    #timeline-information {
        display: table-row;
        padding:0px;
        margin:0px;
    }

/*-- written timeline content --*/
    #timeline-content {
        font-family:"Raleway", sans-serif;
        font-size: 25px;
        text-align: center;
        width: 75%;
        padding-top: 2%;
        padding-left: 5%;
        display:table-cell;
        
    }

    #timeline-heading {
        font-family: "Rye", cursive;
        font-size: 25px;
        text-align: left;
        margin-top: 10px;
        width: 70%;
    }

    #timeline-para {
        font-family:"Raleway", sans-serif;
        font-size: 25px;
        text-align: left;
        margin-top: 5px;
        margin-left: 40px;
        width: 70%;
    }

    #timeline-para i {
        margin-left: 5px;
    }

/* written content displayed not visible until requested */
    #timeline-content1 {
        display:none;
        height:0px;
    }

    #timeline-content2 {
        display:none;
        height:0px;
    }

    #timeline-content3 {
        display:none;
    height:0px;
    }

    #timeline-content4 {
        display:none;
    height:0px;
    }

    #timeline-content5 {
        display:none;
    height:0px;
    }

    #timeline-content6 {
        display:none;
        height:0px;
    }

    #timeline-content7 {
        display:none;
        height:0px;
    }

    #timeline-content8 {
        display:none;
    height:0px;
    }

    #timeline-content9 {
        display:none;
    height:0px;
    }

    #timeline-content10 {
        display:none;
        height:0px;
    }

    #timeline-content11 {
        display:none;
        height:0px;
    }

    #timeline-content12 {
        visibility: collapse;
        height:0px;
    }

/*-- div containing images --*/
    #tl-img{
        display:table-cell;
        vertical-align: top;
        padding-right: 5%;
        padding-top: 2%;
        width:100%;
    }
/*-- default holding image --*/
    #imgHold {
        height:250px;
        width:250px;
        padding-top: 2%;
        border-radius: 50%;
        display:block;
    }

/*-- timeline images displayed as not visible until requested --*/
    #tl-img1 {
        height:450px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img2 {
        height:350px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img3 {
        height:350px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img4 {
        height:550px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img5 {
        height:450px;
        width:550px;
        padding-top: 10%;
        display:none;
    }

    #tl-img6 {
        height:550px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img7 {
        height:350px;
        width:350px;
        padding-top: 10%;
        display:none;
    }

    #tl-img8 {
        height:350px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img9 {
        height:350px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img10 {
        height:450px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

    #tl-img11 {
        height:300px;
        width:400px;
        padding-top: 10%;
        display:none;
    }

    #tl-img12 {
        height:550px;
        width:450px;
        padding-top: 10%;
        display:none;
    }

/*--- Feedback Form ---*/
    #feedbk {
        font-family: "Raleway", sans-serif;
        width: 70%;
        margin:10%;
    }

    #feedbk h2{
        margin: 10px 0px 10px 0px;
    }

    #feedbk p{
        font-size: 16px;
    }

    .form-control {
        color: #111;
        background-color: #f8decc;
        font-weight: 700;
    }

/*--- Footer ---*/
    .footer-img {
        height: 50px;
        width: 50px;
        float: right;
        position:fixed;
        bottom: 5px;
        left: 10px;
    }

/*--- Media Queries ---*/
@media (max-width: 1113px){
/*--- Header ---*/
    .title {
        font-size: 5.5rem;
        text-align: center;
        display: inline;
        margin: 10px 15px;
        margin-bottom:10px;
    }

    header img {
        height:100px;
        width: 75px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 50px;
    }

/*--- Summary ---*/
    h3 {
        font-size: 23px;
        font-weight: 200;
        margin: 2px;
    }

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 25px;
        margin-left: 305px;
    }

/*--- Timeline ---*/
    #timeline a {
    margin-left: 10px;
    font-size: 11px;
    }

    #reset {
        margin-left: 950px;
        font-size: 14px;
    }

    #tl-img {
        padding-right: 5%;
    }

    /*--- Footer ---*/
    .footer-img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 1024px){
/*--- Header ---*/
    .title {
        font-size: 5rem;
        text-align: center;
        display: inline;
        margin: 10px 15px;
        margin-bottom:10px;
    }

    header img {
        height:100px;
        width: 75px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 50px;
    }

/*--- Summary ---*/
    h3 {
        font-size: 23px;
        font-weight: 200;
        margin: 2px;
    }

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 25px;
        margin-left: 275px;
    }

/*--- Timeline ---*/
    #timeline a {
    margin-left: 10px;
    font-size: 11px;
    }

    #reset {
        margin-left: 750px;
        font-size: 14px;
    }

    #tl-img {
        padding-right: 3%;
    }

/*--- Footer ---*/
    .footer-img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 896px){
/*--- Header ---*/
    .title {
        font-size: 4.65rem;
        text-align: center;
        display: inline;
        margin: 10px 10px;
        margin-bottom:10px;
    }

    header img {
        height:75px;
        width: 50px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 50px;
    }

/*--- Summary ---*/
    h3 {
        font-size: 23px;
        font-weight: 200;
        margin: 2px;
    }

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 22px;
        margin-left: 250px;
    }

/*--- Timeline ---*/
    #timeline a {
    margin-left: 10px;
    font-size: 11px;
    }

    #reset {
        margin-left: 750px;
        font-size: 14px;
    }

    #tl-img {
        padding-right: 3%;
    }
/*--- Footer ---*/
    .footer-img {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 834px){
/*--- Header ---*/
    .title {
        font-size: 4.4rem;
        text-align: center;
        display: inline;
        margin: 10px 6px 20px 6px;
    }

    header img {
        height:75px;
        width: 50px;
        margin: 0px 12px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 50px;
    }

/*--- Summary ---*/
    h3 {
        font-size: 23px;
        font-weight: 200;
        margin: 2px;
    }
    
/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 20px;
        margin-left: 215px;
    }

/*--- Timeline ---*/
    #timeline a {
    margin-left: 5px;
    font-size: 10px;
    }

    #timeline-item1{
        padding-left: 40px;
    }   

    #reset {
        margin-left: 650px;
        font-size: 14px;
    }

    #timeline-para {
        font-size: 16px;
    }

    #tl-img {
        padding-right: 3%;
        padding-top: 10%;
        width: 250px;
        height: 250px;
    }

    #tl-img1 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img2 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img3 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img4 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img5 {
        height:250px;
        width:350px;
        display:none;
    }

    #tl-img6 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img7 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img8 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img9 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img10 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img11 {
        height:100px;
        width:200px;
        display:none;
    }

    #tl-img12 {
        height:350px;
        width:250px;
        display:none;
    }
/*--- Footer ---*/
    .footer-img {
         height: 50px;
         width: 50px;
    }
}

@media (max-width: 812px){
/*--- Header ---*/
    .title {
        font-size: 4rem;
        text-align: center;
        display: inline;
        margin: 10px 6px 20px 6px;
    }

    header img {
        height:75px;
        width: 50px;
        margin: 0px 12px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 50px;
    }

/*--- Summary ---*/
    h3 {
        font-size: 23px;
        font-weight: 200;
        margin: 2px;
    }

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 20px;
        margin-left: 180px;
    }

/*--- Timeline ---*/
    #timeline a {
    margin-left: 5px;
    font-size: 10px;
    }

    #timeline-item1{
        padding-left: 40px;
    }   

    #reset {
        margin-left: 650px;
        font-size: 14px;
    }

    #timeline-para {
        font-size: 16px;
    }

    #tl-img {
        padding-right: 3%;
        padding-top: 10%;
        width: 250px;
        height: 250px;
    }

    #tl-img1 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img2 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img3 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img4 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img5 {
        height:250px;
        width:350px;
        display:none;
    }

    #tl-img6 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img7 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img8 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img9 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img10 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img11 {
        height:100px;
        width:200px;
        display:none;
    }

    #tl-img12 {
        height:350px;
        width:250px;
        display:none;
    }
/*--- Footer ---*/
    .footer-img {
         height: 50px;
         width: 50px;
    }

}

@media (max-width: 768px){
/* --- General Styles --- */
p{
    font-size: 18px;
}
/*--- Header ---*/
    .title {
        font-size: 4.02rem;
        text-align: center;
        display: inline;
        margin: 10px 6px 20px 6px;
    }

    header img {
        height:75px;
        width: 50px;
        margin: 0px 12px;
    }

    .brand-img{
        height: 55px;
        width: 55px;
    }
/*--- Summary ---*/
#intro h2{
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 18px;
        margin-left: 195px;
    }
/*--- Timeline ---*/
    #reset {
        margin-left: 625px;
        font-size: 14px;
    }

    #timeline a {
    margin-left: 4px;
    font-size: 11px;
    }

    #timeline a i {
        font-size: 7.5px;
    }

    #timeline .nav-link {
        padding: 0px;
        margin: 1px;
    }

    #timeline-item1{
        padding-left: 30px;
    } 
/*--- Footer ---*/
.footer-img {
         height: 40px;
         width: 40px;
    }

}

@media (max-width: 736px){
/* --- General Styles --- */
p{
    font-size: 18px;
}
/*--- Header ---*/
    .title {
        font-size: 3.81rem;
        text-align: center;
        display: inline;
        margin: 10px 6px 20px 6px;
    }

    header img {
        height:75px;
        width: 50px;
        margin: 0px 12px;
    }

    .brand-img{
        height: 40px;
        width: 45px;
    }
/*--- Summary ---*/
#intro h2{
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 16px;
        margin-left: 190px;
    }
/*--- Timeline ---*/
    #reset {
        margin-left: 625px;
        font-size: 14px;
    }
/*--- Footer ---*/
.footer-img {
         height: 40px;
         width: 40px;
    }
}

@media (max-width: 667px){
/*--- General Styles---*/
    h2 {
        margin: 10px 0px 10px 65px;
        font-size: 25px;
       }

    p {
        font-size: 16px;
        width:100%
    }
    
/*--- Header ---*/
    .title {
        font-size: 3.54rem;
        text-align: center;
        display: inline;
        margin: 10px 5px 5px 5px;
    }

    header img {
        height:50px;
        width: 40px;
        margin: 0px;
    }
    
    .brand-img {
        height: 40px;
        width: 45px;
    }

    .navbar-light .navbar-nav .nav-link.active {
         color: #ddd;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #ddd;
    }

/*--- Summary ---*/
    h3 {
        font-size: 18px;
    }

/*--- Map & Accordion ---*/
    #old-england h3 {
        font-size: 28px;
    }

    #old-england button {
        font-size: 14px;
        margin-left: 170px;
        display:block;
    }
/*--- Timeline ---*/
    .timeline-title h4 {
        margin: 15px 0px 0px 70px;
    }

    #timeline-item1{
        padding-left: 0px;
    }  

    #timeline a{
        color:#ddd;
        margin-left: 5px;
        font-size: 10px;
    }

    #timeline a i {
        margin-right: 5px;
    }

    .timeline-bar .container-fluid {
       max-height: 35px;
   }
    .nav-down-back{
        background-color:rgb(9, 124, 128, .9);
        width:35%;
    }

    #reset {
        margin-left: 550px;
        font-size: 14px;
    }

/*--- Footer ---*/
    .footer-img {
         height: 35px;
         width: 35px;
    }
}

@media (max-width: 568px){
/*--- General Styles---*/
    h2 {
        margin: 10px 0px 10px 25px;
        font-size: 25px;
       }
    p {
        font-size: 16px;
        width:100%
    }
    
/*--- Header ---*/
    .title {
        font-size: 2.9rem;
        text-align: center;
        display: inline;
        margin: 10px 5px 5px 5px;
    }

    header img {
        height:50px;
        width: 40px;
        margin: 0px;
    }
    
    .brand-img {
        height: 40px;
        width: 45px;
    }

/*--- Map & Accordion ---*/
    #old-england h3 {
        font-size: 28px;
    }

    #old-england button {
        font-size: 13px;
        margin-left: 129px;
        display:block;
    }
/*--- Timeline ---*/
    .timeline-title h4 {
        margin: 25px 0px 0px 35px;
    }

    #timeline-item1{
        padding-left: 0px;
    }  

    #timeline a{
        color:#ddd;
        margin-left: 5px;
        font-size: 10px;
    }

    #timeline a i {
        margin-right: 5px;
    }

    .timeline-bar .container-fluid {
       max-height: 35px;
   }

    .nav-down-back{
        background-color:rgb(9, 124, 128, .9);
        width:35%;
    }

    #reset {
        margin-left: 450px;
        font-size: 14px;
    }

/*--- Footer ---*/
    .footer-img {
         height: 35px;
         width: 35px;
    }
}

@media (max-width:540px){
/*--- Header ---*/
    .title {
        font-size: 2.78rem;
    }

    header img {
        height: 45px;
        width: 35px;
        margin: 0px;
    }
/*--- Summary ---*/
h3 {
    font-size: 16.75px;
}

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 11px;
        margin-left: 130px;
        display:block;
    }
/*--- Timeline ---*/
    #reset {
        margin-left: 425px;
        font-size: 14px;
    }
}

@media (max-width: 414px){
/*--- General Styles---*/
    h2 {
        margin: 10px 0px 10px 25px;
        font-size: 18px;
       }

    p {
        font-size: 16px;
        width:100%
    }
    
/*--- Header ---*/
    .title {
        font-size: 2rem;
        text-align: center;
        display: inline;
        margin: 10px 2px 5px 2px;
    }

    header img {
        height:50px;
        width: 40px;
        margin: 0px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 40px;
        width: 45px;
    }

    .nav-down-back{
        background-color:rgb(9, 124, 128, .9);
        width:35%;
    }
    
    .navbar-light .navbar-nav .nav-link.active {
         color: #ddd;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #ddd;
    }
/*--- Summary ---*/
   #intro h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
        font-weight: 200;
        margin: 2px;
    }
/*--- Map & Accordion ---*/
     .goolge-info {
    display: inline-block;
    padding:0px;
    }

    #old-england h3 {
        font-size: 25px;
    }

    #old-england {
    max-width: 100%;
    display: inline-block;
    position: relative;
    }
    
    #old-england button {
        font-size: 18px;
        margin-left: 215px;
        display:block;
    }

    #map {
    height: 550px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    display: inline-block;
    }

/*--- Timeline ---*/
    .timeline-title {
        padding:0px;
        margin:0px;
    }
    .timeline-title h4 {
        margin: 25px 0px 0px 30px;
    }

   .timeline-bar .container-fluid {
       max-height: 35px;
   }

    #timeline a {
    margin-left: 5px;
    font-size: 10px;
    }

    #timeline-information {
        display:block;
    }

    #timeline-content {        
        display:block;
        margin-left: 30px;
    }

    #timeline-item1{
        padding-left: 0px;
    }   

    #reset {
        margin-left: 300px;
        font-size: 14px;
    }

    #timeline-para {
        font-size: 16px;
        width:100%;
        margin:0px;
        padding:0px;
    }

    #tl-img {
        padding-right: 0px;
        padding-top: 2%;
        margin-left: 60px;
        width: 250px;
        height: 250px;
        display: block;
    }

    #tl-img1 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img2 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img3 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img4 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img5 {
        height:250px;
        width:350px;
        display:none;
    }

    #tl-img6 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img7 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img8 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img9 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img10 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img11 {
        height:100px;
        width:200px;
        display:none;
    }

    #tl-img12 {
        height:350px;
        width:250px;
        display:none;
    }
/*--- Footer ---*/
    .footer-img {
         height: 30px;
         width: 30px;
    }

}

@media (max-width: 375px){
/*--- General Styles---*/
    h2 {
        margin: 10px 0px 10px 40px;
        font-size: 18px;
       }
    p {
        font-size: 14px;
        width:100%
    }
    
/*--- Header ---*/
    .title {
        font-size: 1.84rem;
        text-align: center;
        display: inline;
        margin: 10px 0px 2px 0px;
    }

    header img {
        height:50px;
        width: 40px;
        margin: 0px;
    }

    .navbar {
        height:50px;
        margin-top: 10px;
    }

    .brand-img {
        height: 30px;
    }

    .nav-down-back{
        background-color:rgb(9, 124, 128, .9);
        width:35%;
    }
    
    .navbar-light .navbar-nav .nav-link.active {
         color: #ddd;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #ddd;
    }
/*--- Summary ---*/
    #intro h2 {
        font-size: 18px;
        margin-left:10px;
    }

    h3 {
        font-size: 16px;
        font-weight: 200;
        margin: 2px;
    }
/*--- Map & Accordion ---*/
     .goolge-info {
    display: inline-block;
    padding:0px;
    }

    #old-england h3 {
    font-size: 25px;
    }

    #old-england {
    max-width: 100%;
    display: inline-block;
    position: relative;
    }
    
    #old-england button {
        font-size: 16px;
        margin-left: 190px;
        display:block;
    }

    #map {
    height: 550px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    display: inline-block;
    }

/*--- Timeline ---*/
    .timeline-title {
        padding:0px;
        margin:0px;
    }
    .timeline-title h2{
        padding:1px;
    }

    .timeline-title h4 {
        margin: 5px 0px 0px 30px;
    }

   .timeline-bar .container-fluid {
       max-height: 35px;
   }

    #timeline a {
    margin-left: 5px;
    font-size: 10px;
    }

    #timeline-information {
        display:block;
    }

    #timeline-content {        
        display:block;
        margin-left: 40px;
    }

    #timeline-heading {
        margin-left:5px;
        font-size: 18px;
    }

    #timeline-item1{
        padding-left: 0px;
    }   

    #reset {
        margin-left: 240px;
        font-size: 14px;
    }

    #timeline-para {
        font-size: 16px;
        width:100%;
        margin:0px;
        padding:0px;
    }

    #tl-img {
        padding-right: 0px;
        padding-top: 2%;
        margin-left: 60px;
        width: 250px;
        height: 250px;
        display: block;
    }

    #tl-img1 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img2 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img3 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img4 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img5 {
        height:200px;
        width:250px;
        display:none;
    }

    #tl-img6 {
        height:350px;
        width:250px;
        display:none;
    }

    #tl-img7 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img8 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img9 {
        height:150px;
        width:250px;
        display:none;
    }

    #tl-img10 {
        height:250px;
        width:250px;
        display:none;
    }

    #tl-img11 {
        height:100px;
        width:200px;
        display:none;
    }

    #tl-img12 {
        height:350px;
        width:250px;
        display:none;
    }
/*--- Footer ---*/
    .footer-img {
         height: 30px;
         width: 30px;
    }

}

@media (max-width: 360px){
 /*--- Header ---*/
    .title {
        font-size: 1.75rem;
    }

/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 16px;
        margin-left: 175px;
    }
/*--- Timeline ---*/
    #tl-img {
        padding-right: 0px;
        padding-top: 2%;
        display: block;
    }
}

@media (max-width: 320px){
/*--- General Styles ---*/
    h2 {
        margin: 10px 0px 10px 40px;
        font-size: 18px;
       }
/*--- Header ---*/
    .title {
        font-size: 1.75rem;
    }
    header img {
        height:30px;
        width: 20px;
        margin: 0px;
    }
/*--- Summary ---*/
    #intro h2 {
        margin-left:10px;
    }

    #old-england button {
        font-size: 14px;
        margin-left: 152px;
    }

/*--- Timeline ---*/
    #tl-img {
        padding-right: 0px;
        padding-top: 2%;
        display: block;
    }

    .timeline-title h4 {
        margin: 5px 0px 0px 10px;
    }

        #reset {
        margin-left: 210px;
        font-size: 14px;
    }
/*--- Footer ---*/

}

@media (max-width: 280px){
/*--- General Styles ---*/
    h2 {
        margin: 10px 0px 10px 40px;
        font-size: 16px;
       }
/*--- Header ---*/
    .title {
        font-size: 1.55rem;
    }
    header img {
        height:28px;
        width: 15px;
        margin: 0px;
    }
        .brand-img {
        height: 30px;
        width: 30px;
    }
/*--- Summary ---*/
    #intro h2 {
        margin-left:0px;
        font-size: 16px;
    }


/*--- Map & Accordion ---*/
    #old-england button {
        font-size: 13px;
        margin-left: 119.75px;
    }

/*--- Timeline ---*/
    #tl-img {
        padding-top: 2%;
        padding-right: 100px;
        display: block;

    }

    .timeline-title h4 {
        margin: 0px 0px 0px 15px;
        font-size: 12px;
    }

        #reset {
        margin-left: 185px;
        font-size: 12px;
    }

    #timeline-content {
        margin:3%;
        padding:0px;
    }
}