body {
    margin:auto;
    background-color: rgb(60, 255, 245);
    color:#333;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 15px 2px;
}

h2 {
    font-family: 'Rye', cursive;
    margin: 10px 0px 10px 122px;
    font-weight: 600;
    text-decoration: underline;
}

/* CSS Google Fonts:
font-family: 'Raleway', sans-serif;
font-family: 'Rye', cursive;
*/
/*--- Header ---*/
.title {
    color: #040a42d7;
    font-family:'Rye', cursive;
    font-size: 6rem;
    text-align: center;
    display: inline;
    margin: 10px 35px;
    margin-bottom:10px;
}

header img {
    height:125px;
    width: 100px;
    position: relative;
    vertical-align: bottom;
    margin:20px;
}

.navbar {
    height:50px;
    margin-top: 10px;
}

.brand-img {
    height: 50px;
}

.nav-item {
   font-family: 'Raleway', sans-serif;
   font-weight: 900;
   font-size: 17px;
}

a i {
    margin-left: 6px;
}

/*--- Summary ---*/
#intro h2 {
    margin: 10px 2px 2px 2px;
    font-weight: 600;
    text-decoration: underline;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 200;
    margin: 2px;
}

/* horizontal rule above Maps and Accordion*/

/*--- Maps and Accordion ---*/

 .goolge-info {
    display: table;
    padding-left: 5px;
}

#old-england {
    max-width: 49%;
    display: table-cell;
}

#old-england img {
    display: inline;
}

#old-england h5 {
    font-family: 'Rye', cursive;
    color: #000;
    font-size: 50px;
}

#old-england h6{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-top: 5px;
} 

#old-england .card-body {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: seashell;
}

#old-england button {
    color: #eee;
    background-color: rgb(70, 70, 70, .7);
    font-weight: 600;
    font-size: 30px;
    text-decoration: solid;
    text-decoration-color: #000;
    margin-left: 375px;
}

#headingTitle {
    text-align: center;
    background-color: #ffdcc3;
}

#headingOne {
background-color: rgb(148, 205, 238);
}

#headingTwo {
background-color: rgb(4, 6, 116);
}

#headingThree {
background-color: rgb(119, 14, 45);
}

#headingFour {
background-color: rgb(170, 3, 3);
}

#map {
    height: 550px;
    width: 49%;
    margin-bottom: 50px;
    display: table-cell;
}

/* horizontal rule above timeline*/


/*-- Timeline Title --*/
.timeline-title h2 {
    font-family: 'Rye', cursive;
    height: 20px;
    width: 100%;
    padding-bottom: 0px;
}

.timeline-title h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin: 20px 0px 5px 122px;
    font-weight: 600;
    display: inline;
}

#reset {
    margin:0px;
    margin-left: 1000px;
    padding:0px;
    font-family: "Raleway", sans-serif ;
    color: #333;
    background-color: rgb(132, 248, 252);
    border-radius: 10px;
    display:inline;

}

/*--- Timeline ---*/
/*Credit to W3Schools for base code for the timeline found here https://www.w3schools.com/howto/howto_css_timeline.asp*/
#timeline a {
   margin-left: 10px;
   font-weight: 900;
   font-size: 13px;
   color: #111;
}

#timeline-item1{
padding-left: 50px;
}

.timeline-bar {
margin-top: 30px;
}

.timeline-bar .container-fluid{
 background-color: rgb(132, 248, 252);  
 margin-top: 0px;
 padding-top: 0px;
}

#timeline-information {
    display: table-row;
    padding:0px;
    margin:0px;
}

#timeline-content {
    font-family:"Raleway", sans-serif;
    font-size: 25px;
    text-align: center;
    width: 70%;
    padding-top: 2%;
    padding-left: 5%;
    display:table-cell;
    
}

#timeline-heading {
    font-family: "Rye", cursive;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    width: 70%;
}

#timeline-para {
    font-family:"Raleway", sans-serif;
    font-size: 25px;
    text-align: left;
    margin-top: 5px;
    margin-left: 40px;
    width: 70%;
}

#timeline-content1 {
    display:none;
    height:0px;
}

#timeline-content2 {
    display:none;
    height:0px;
}

#timeline-content3 {
    display:none;
   height:0px;
}

#timeline-content4 {
    display:none;
   height:0px;
}

#timeline-content5 {
    display:none;
   height:0px;
}

#timeline-content6 {
    display:none;
    height:0px;
}

#timeline-content7 {
    display:none;
    height:0px;
}

#timeline-content8 {
    display:none;
   height:0px;
}

#timeline-content9 {
    display:none;
   height:0px;
}

#timeline-content10 {
    display:none;
    height:0px;
}

#timeline-content11 {
    display:none;
    height:0px;
}

#timeline-content12 {
    visibility: collapse;
    height:0px;
}

.timeImage{
    display:none;
}

#timeline-image{
     display:table-cell;
     vertical-align: middle;
     padding-right: 5%;
     padding-top: 2%;
     width:100%;
}

#imageHolder {
    height:350px;
    width:350px;
    border-radius: 50%;
    display:block;
}

#timeline-image4 {
    height:550px;
    width:450px;
    display:none;
}


/*--- Footer ---*/
.footer-img {
    height: 50px;
    width: 50x;
    float: right;
    position:fixed;
    bottom: 5px;
    left: 10px;
}